@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(26, 25, 25);
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  padding: 4rem;
}

@media (max-width: 680px) {
  /* Set smaller font size for mobile */
  body {
      font-size: 12px;
  }
}

/* Lato font classes */
.lato-thin {
  font-family: var(--font-lato);
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: var(--font-lato);
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: var(--font-lato);
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: var(--font-lato);
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: var(--font-lato);
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: var(--font-lato);
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: var(--font-lato);
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: var(--font-lato);
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: var(--font-lato);
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: var(--font-lato);
  font-weight: 900;
  font-style: italic;
}


